<h1>Eat-Da-Burger</h1>

<div class="container">
  <div class="row">
    <div id="NotDevoured" class="col" >
      <h2>Burgers that are not devoured!</h2>


      <ul>

        {{#each burgers}}
        {{#unless devoured}}



        <li>
          {{id}}.
          {{burger_name}}

          <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
            {{#if devoured}}devoured!{{else}}not devoured!{{/if}}
          </button>

        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>


    <div id="Eaten" class="col">
      <h2>Burgers Eaten!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}

        <li class="Eaten">
          {{id}}.
          {{burger_name}}

          <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
            {{#if devoured}}devoured!{{else}}not devoured!{{/if}}
          </button>

        </li>

        {{/if}}
        {{/each}}
      </ul>


    </div>
  </div>
</div>





<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label> <input type="text" id="burger_name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> not devoured
  </div>

  <button type="submit">Add Burger</button>
</form>